@import url('https://fonts.googleapis.com/css2?family=Noto+Serif+Georgian:wght@100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
  background: #f6f5f7;
}

.container{
  margin: 10rem auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-content: center;
  width: 500px;
  height: 660px;
  background-color: rgb(255, 253, 253);
  border-radius: 30px;
  box-shadow: 0 14px 28px rgba(0,0,0,0.25), 
			0 10px 10px rgba(0,0,0,0.22);
}

.login-box {
  border-radius: 3px;
  background-color: rgb(255, 255, 255);
}

h1 {
  font-size: 40px;
  background-color: #fff;
  border-radius: 30px;
  text-align: center;
}

form {
  font-family: 'Poppins', serif;
  background-color: #FFFFFF;
  width: 300px;
}

form label {
  background-color: #fff;
  display: flex;
  margin-top: 20px;
  font-size: 20px;
}

form input {
  background-color: #fff;
  width: 100%;
  padding: 7px;
  border: none;
  border: 1px solid gray;
  border-radius: 6px;
  outline: none;
  height: 20px;
  font-size: 20px;
}

form input:focus {
  font-family: 'Poppins', serif;
  font-size: 20px;
  border-color: #305ec9; 
}

input[type="button"] {
  width: 320px;
  height: 35px;
  margin-top: 20px;
  border: none;
  background-color:#0E345A;
  color: white;
  font-size: 18px;
}

button {
  margin: 0px 90px;
  margin-top: 50px;
	border-radius: 20px;
	border: 1px solid #0E345A;
	background-color: #0E345A;
	color: #FFFFFF;
	font-size: 12px;
	font-weight: bold;
	padding: 12px 45px;
	letter-spacing: 1px;
	text-transform: uppercase;
	transition: transform 80ms ease-in;
}

button:hover{
  margin: 0px 90px;
  margin-top: 50px;
	border-radius: 20px;
	border: 2px solid #0E345A;
	background-color: #FFFFFF;
	color: #0E345A;
	transition: transform 80ms ease-in;
}

p {
  background-color: #fff;
  text-align: center;
  padding-top: 20px;
  font-size: 15px;
}
